<div class="home-content">
  <% if user_signed_in? %>
    <p>This would probably be a map of nearby messages and recently created</p>
  <% else %>
      <p>Remigeo is a way to leave yourself personal messages and reminders based on location.</p>
      <%= link_to "Sign Up", signup_path, class: "button big-button" %>
  <% end %>
</div><!-- end .home-content -->