<% provide(:title, "Edit message") %>

<h1>Editing message</h1>

<%= render 'form' %>

<div class="page-links">
<%= link_to 'Show', @message, class: "button" %>
<%= link_to 'Back', messages_path, class: "button subtle-button" %>
</div>