<% provide(:title, "Note at #{@message.location.title}") %>

<h1>Note at <%= @message.location.title %></h1>

<%= render 'shared/message_blurb', :message => @message %>

<div id="individual-map" class="map" style="width:100%;height: 300px;"></div>

<div class="page-links">
<%= link_to 'Edit', edit_message_path(@message), class: "button" %>
<%= link_to 'All messages', messages_path, class: "subtle-button button" %>
</div><!--end .page-links -->
