.home-content {
  //text-align: center;
  padding: 20px 0;
  //width: 96%;
  margin: 0 auto;
  .box;
  p {
    font-size: 20px;
    margin: 25px 0;
    &:first-child {
      margin-top: 0;
    }
  }
}


.bubble-note {
  a {
    text-decoration: none;
    color: inherit;
  }
}

#home-map {
  margin-bottom: 30px;
}

.page-links {
  a {
    margin: 0 10px;
  }
}

.recent-notes {
  padding-top: 20px;
}


.page-home {
  .container {
    max-width: 600px;
  }
  #main {
    padding: 0;
  }
  .home-content {
    padding: 50px 0;
    //border: solid 1px #ccc;
    //box-shadow: 0 0 1px 3px rgba(0,0,0,0.02);
    //border-radius: 3px;
      p {
        font-weight: bold;
        display: inline;
        padding: 6px;
        line-height: 1.2;
        color: #333;
        font-size: 24px;
      }
      .button {
        //outline: thick white solid;
        margin-top: 10px;
      }
    }
}