#h {
  color: #fff;
  background: @blue;
  padding: 7px 0 6px;
  border-top: solid 1px darken(@blue,10%);
  border-bottom: solid 1px darken(@blue,10%);
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  position: relative;
  z-index: 99;
  .container {
    max-width: 714px;
    background: transparent;
    width: 99%;
  }
}

  .logo-area {

  }

    .logo {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
      margin-top: 8px;
      a {
        text-decoration: none;
        color: #fff;
        &:hover {

        }
      }
      &:active {
        position: relative;
        top: 1px;
      }
    }

    .header-buttons {
      float: right;
    }

    .header-button {
      font-size: 12px;
      background: spin(lighten(@blue,15%),-5);
      line-height: 14px;
      margin: 0 4px;
      padding: 9px 12px;
      box-shadow: 0 1px 0 darken(@blue,5%);
      &:hover {
        background: @green;
        box-shadow: 0 1px 0 darken(@blue,10%);
      }
    }

  .search {
    float: left;
    form {
      margin: 0 15px 0 0;
      input[type="search"] {
        -webkit-appearance: none;
        border: solid 1px darken(@blue,5%);
        font-size: 14px;
        padding: 9px 8px 8px 35px;
        box-shadow: inset 1px 1px 1px rgba(0,0,0,0.15);
        width: 175px;
        margin-top: -1px;
        background-image: url(./search-icon.png);
        background-repeat: no-repeat;
        background-position: 6px center;
        &:focus {
          outline: none;
          box-shadow: 0 0 5px rgba(255,255,255,0.5);
        }
      }
      input[type="search"]::-webkit-search-decoration,
      input[type="search"]::-webkit-search-cancel-button,
      input[type="search"]::-webkit-search-results-button,
      input[type="search"]::-webkit-search-results-decoration {
        display: none;
      }
    }
  }