# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://jashkenas.github.com/coffee-script/


clientId     = "DHICGNZEQLALXKHTWVSQPBRJPDAUSSTP5U1WAHDT5YAUITUL"
clientSecret = "QJJOUTWQ2RBIMQJ3ED3RWZBIDGG4ZLEXK3LJQSM3LGU4KOON"

$(document).on 'ready', ->

  mapbox.auto('map', 'tylerpearson.map-1simeiyt')

  # auto grow the message content area, if needed
  $('#message_content').css('overflow', 'hidden').autogrow()

  latitude  = 0
  longitude = 0

  if navigator.geolocation

    startPos = undefined
    navigator.geolocation.getCurrentPosition ((position) ->
      startPos  = position
      latitude  = startPos.coords.latitude
      longitude = startPos.coords.longitude

    ), (error) ->
      if error.code is 1
        alert "You need to share your location!"
      else
        alert "Hmm, something went wrong, please try again."

    $('.get-nearby').on 'click', (e) ->

      e.preventDefault()
      getNearbyLocations(latitude,longitude)

      $('.results-container').fadeIn(250)
      $('.search-locations-container').hide()
      $('.nearby-locations-container').fadeIn()
      clearToggles()
      $(@).toggleClass('toggled')

    $('#location-search').on 'keyup change input blur paste focus', (e) ->

      searchQuery = $('#location-search').val()

      if searchQuery.length > 2
        $('#search-locations-results').fadeIn()
        searchLocations(searchQuery,latitude,longitude)

  else
    alert "Please use a browser that supports geolocation"


  $map = $("#map-canvas")

  $map.gmap().bind "init", ->

    $.getJSON "/messages.json", (data) ->

      if data.length

        for message in data
          $map.gmap("addMarker",
            position: new google.maps.LatLng(message.location.latitude, message.location.longitude)
            bounds: true
          ).click ->
            $map.gmap "openInfoWindow",
              content: "<b>#{message.location.title}</b><br> #{message.content}"
            , this


  # for the show view
  $individmap = $("#individual-map")

  if $individmap.length

      $.getJSON "#{document.URL}.json", (message) ->

          venueLocation = new google.maps.LatLng(message.location.latitude,message.location.longitude)
          mapOptions = {
            zoom: 16
            center: venueLocation
            mapTypeId: google.maps.MapTypeId.ROADMAP
          }
          map = new google.maps.Map(document.getElementById("individual-map"), mapOptions)

          marker = new google.maps.Marker({
              position: venueLocation
              map: map
          })


  # for the home page!
  showPosition = (position) ->

    $homeMap = $("#home-map")

    $homeMap.gmap().bind "init", ->

      $.getJSON "/nearby.json?latitude=#{position.coords.latitude}&longitude=#{position.coords.longitude}", (data) ->

        if data.length
          for message in data
            $homeMap.gmap("addMarker",
              position: new google.maps.LatLng(message.latitude, message.longitude)
              bounds: true
            ).click ->
              $homeMap.gmap "openInfoWindow",
                content: "<b>#{message.title}</b><br> #{message.messages[0].content}"
                , this

  navigator.geolocation.getCurrentPosition(showPosition)


clearToggles = () ->

    $('.toggled').removeClass('toggled')


# search locations
searchLocations = (name,lat,long) ->

  d = new Date()
  currentDate = d.yyyymmdd()

  searchQuery = "https://api.foursquare.com/v2/venues/suggestcompletion?ll=#{lat},#{long}&query=#{name}&client_id=#{clientId}&client_secret=#{clientSecret}&v=#{currentDate}&limit=50"

  $.getJSON searchQuery, (data) ->

    locations = []

    $.each data['response']['minivenues'], (key, val) ->
      if val.location.address
        locations.push "<option value=\"#{val.id}\">#{val.name} (#{val.location.address}, #{val.location.city})</option>"
      else
        locations.push "<option value=\"#{val.id}\">#{val.name} (#{val.location.city})</option>"

    $locations = $("#search-locations-results")
    $locations.html('')

    success:

      $(locations.join("")).appendTo($locations)



# get nearby locations
getNearbyLocations = (lat,long) ->

  d = new Date()
  currentDate = d.yyyymmdd()

  searchQuery = "https://api.foursquare.com/v2/venues/search?ll=#{lat},#{long}&client_id=#{clientId}&client_secret=#{clientSecret}&v=#{currentDate}&limit=50"

  $.getJSON searchQuery, (data) ->

    locations = []

    $.each data['response']['venues'], (key, val) ->
      locations.push "<option value=\"#{val.id}\">#{val.name} (#{metersToFeet(val.location.distance)}ft)</option>"

    $locations = $("#nearby-locations")

    success: () ->

      $(locations.join("")).appendTo($locations)


# meters to feet
metersToFeet = (meters) ->
  Math.round(parseFloat(meters * 3.28084))


# the date
Date::yyyymmdd = ->
  yyyy = @getFullYear().toString()
  mm = (@getMonth() + 1).toString()
  dd = @getDate().toString()
  yyyy + ((if mm[1] then mm else "0" + mm[0])) + ((if dd[1] then dd else "0" + dd[0]))