body {
  background: #fff;
  font-family: @proxima;
  font-size: 14px;
}

p {
  line-height: 1.5;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  width: 99%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.button {
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  background-color: @green;
  &:hover {
    background-color: lighten(@green,20%);
  }
  &.big-button {
    padding: 10px 20px;
    font-size: 22px;
  }
  &.subtle-button {
    background: #ccc;
    font-size: 14px;
    &:hover {
      background: darken(#ccc,10%);
    }
  }
}

a {
  font-weight: bold;
  color: @blue;
}