<% provide(:body_class, "checkin-page") %>

<% unless @location.nil? %>
<% provide(:title, "Checkin at #{@location.title}") %>
<% end %>


<% if user_signed_in? %>

<h2>New Checkin <%= "at #{@location.title}" unless @location.nil? %></h2>

<% unless @messages.blank? || !defined?(@messages) %>
  <% @messages.each do |message| %>
      <%= render 'shared/message_blurb', :message => message %>
  <% end %>
<% else %>
  <p>No messages for this location. Do you want to add a note?</p>
<% end %>

<div class="checkin-form">
  <%= render :partial => 'messages/form', :message => @message %>
</div>

<% else %>

  <div class="center">
    <p class="bigger-text">Shoot! Looks like you need to login first to see this page.</p>
  </div><!--end .center -->

  <div class="center">
    <%= link_to '<i class="icon-foursquare"></i>Sign in with Foursquare'.html_safe, user_omniauth_authorize_path(:foursquare), :class => "button big-button" %>
  </div>

<% end %>