<% provide(:title, "Checkin at #{@location.title}") %>

<h2>Checkin at <%= @location.title %></h2>

<% unless @messages.blank? %>
  <% @messages.each do |message| %>
      <%= render 'shared/message_blurb', :message => message %>
  <% end %>
<% else %>
  <p>No messages for this location. Do you want to add a note?</p>
<% end %>

<div class="checkin-form">
  <%= render :partial => 'messages/form', :message => @message %>
</div>