<section class="notice-container">
  <div class="container">
    <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  </div><!--end .container -->
</div><!-- end .notice-container -->