<footer id="f">
  <div class="container">
    <div class="footer-links">
      <% if user_signed_in? %>
        <%= link_to "Log out", signout_path %>
        <%= link_to "Edit profile", edit_user_registration_path(current_user) %>
      <% end %>
    </div>
    <div class="contact-links">
        <a href="mailto:ty.pearson@gmail.com">Comments, suggestions, etc.</a>
    </div><!--end .contact-links -->
  </div><!--end .container -->
</footer><!--end #f -->