<footer id="f">
  <div class="container">
    <div class="footer-links">
      <% if user_signed_in? %>
        <%= link_to "Log out", signout_path, class: "button subtle-button" %>
        <%= link_to "Edit profile", edit_user_registration_path(current_user), class: "button subtle-button" %>
      <% end %>
    </div>
  </div><!--end .container -->
</footer><!--end #f -->