  <header id="h">
    <div class="container cf">
      <div class="left logo-area">
        <h1 class="logo"><i class="icon-comments-alt"></i> <%= link_to 'Remigeo', root_path %></h1>
      </div><!--end .logo -->
      <div class="right header-bonus">
        <% if user_signed_in? %>
          <a class="button header-button" href="/messages/new"><i class="icon-pencil"></i> Add New</a>
        <% else %>
          <%= link_to '<i class="icon-foursquare"></i>Sign in with Foursquare'.html_safe, user_omniauth_authorize_path(:foursquare), :class => "button header-button" %>
        <% end %>
      </div><!--end .header-bonus -->
    </div><!--end .container -->
  </header><!--end .header -->