  <header id="h">
    <div class="container cf">
      <div class="left logo-area">
        <h1 class="logo"><i class="icon-comments-alt"></i> <%= link_to 'Remigeo', root_path %></h1>
      </div><!--end .logo -->
      <div class="right header-bonus">
        <a class="button header-button" href="#"><i class="icon-pencil"></i> New</a>
      </div><!--end .header-bonus -->
    </div><!--end .container -->
  </header><!--end .header -->